@charset "UTF-8";
/* Colors
---------------------*/
/* Patterns
---------------------*/
/* Media queries
----------------------*/
.svg-icon {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.matomo-main h5, .matomo-sidebar h5, .matomo-page h5 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.15px;
  color: #9a9a9a;
  font-weight: 400;
}
.matomo-main .empty, .matomo-sidebar .empty, .matomo-page .empty {
  color: #b3b3b3;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0 1rem 0;
  background: #fafafa;
}

.matomo-main .loader, .matomo-page .loader, .matomo-sidebar .loader {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
}
.matomo-main .loader::after, .matomo-page .loader::after, .matomo-sidebar .loader::after {
  content: "⠋\a⠙\a⠹\a⠸\a⠼\a⠴\a⠦\a⠧\a⠇\a⠏";
  display: inline-table;
  white-space: pre;
  text-align: left;
  animation: spin10 0.8s steps(10) infinite;
}
@keyframes spin10 {
  to {
    transform: translateY(-15em);
  }
}

.matomo-chart {
  position: relative;
  width: 100%;
  margin-top: 2.5rem;
}
.matomo-chart .overlay, .matomo-chart .empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(239, 239, 239, 0.85);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out;
}
.matomo-chart .overlay .loader, .matomo-chart .empty .loader {
  font-size: 30px;
}
.matomo-chart .empty {
  margin-top: 0;
}
.matomo-chart .empty span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #eaeaea;
  color: #999999;
}
.matomo-chart .chart {
  height: 52.5vh;
}
.matomo-chart.is-empty {
  margin-top: 1.5rem;
}
.matomo-chart.is-empty .chart {
  height: 25vh;
}

.matomo-overview {
  margin-top: 2.5rem;
}
.matomo-overview h4 {
  margin-bottom: 5px;
}
.matomo-overview-ctn {
  margin-top: 1.5rem;
  padding: 1.5rem;
  padding-right: 1rem;
  background: white;
  min-height: 150px;
  display: flex;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-overview-block {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.matomo-overview-block:not(:last-child) {
  border-right: 1px solid #ebebeb;
  padding-right: 1rem;
  margin-right: 1.5rem;
}
.matomo-overview-block .big-number {
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
}
.matomo-overview-block .details {
  position: relative;
  font-size: 0.75rem;
  color: #9a9a9a;
  margin-top: 20px;
  padding-top: 15px;
  line-height: 1.5;
}
.matomo-overview-block .details:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #b3b3b3;
  top: 0;
}
.matomo-overview-block .difference {
  margin-top: 20px;
  padding: 4px 8px 5px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 0.75rem;
}
.matomo-overview-block .difference .icon {
  width: 10px;
  height: 10px;
  margin-left: 6px;
}
.matomo-overview-block .difference .icon svg {
  display: block;
  width: 100%;
  height: 100%;
}
.matomo-overview-block .difference.positive {
  background: #f1faed;
  color: #7aba4c;
}
.matomo-overview-block .difference.positive .icon svg {
  fill: #7aba4c;
}
.matomo-overview-block .difference.negative {
  background: #feeaee;
  color: #f93048;
}
.matomo-overview-block .difference.negative .icon {
  transform: rotate(90deg);
}
.matomo-overview-block .difference.negative .icon svg {
  fill: #f93048;
}
.matomo-overview-block .difference.grey {
  background: #f7f7f7;
  color: #9a9a9a;
}
.matomo-overview .empty {
  margin-top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 68.75em) {
  .matomo-overview-block .big-number {
    font-size: 25px;
  }
}
@media (max-width: 45em) {
  .matomo-overview-ctn {
    flex-wrap: wrap;
  }
  .matomo-overview-block {
    width: calc(50% - 0.75rem);
  }
  .matomo-overview-block:not(:last-child) {
    margin-right: 0;
    border-right: none;
  }
  .matomo-overview-block:nth-child(odd) {
    border-right: 1px solid #ebebeb;
  }
  .matomo-overview-block:nth-child(even) {
    padding-left: 1.5rem;
  }
  .matomo-overview-block:first-child, .matomo-overview-block:nth-child(2) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ebebeb;
  }
  .matomo-overview-block:nth-child(3), .matomo-overview-block:nth-child(4) {
    padding-top: 1.5rem;
  }
}
@media (max-width: 30em) {
  .matomo-overview-block {
    width: 100%;
  }
  .matomo-overview-block:nth-child(odd) {
    border-right: none;
  }
  .matomo-overview-block:nth-child(even) {
    padding-left: 0;
  }
  .matomo-overview-block:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ebebeb;
  }
  .matomo-overview-block:not(:first-child) {
    padding-top: 1.5rem;
  }
}

.matomo-realtime .refresh {
  position: absolute;
  right: 0.9rem;
  top: 1rem;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background: #f2f2f2;
  letter-spacing: 0.15px;
  color: #8d8d8d;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.matomo-realtime .refresh:hover {
  color: black;
}
.matomo-realtime .big-number {
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
}
.matomo-realtime .details {
  position: relative;
  font-size: 0.75rem;
  color: #9a9a9a;
  margin-top: 20px;
  padding-top: 15px;
  line-height: 1.5;
}
.matomo-realtime .details:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #b3b3b3;
  top: 0;
}

.matomo-visits-summary ul {
  margin-top: calc(20px - 0.5rem);
}
.matomo-visits-summary ul li {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 10px 0.5rem 5px;
}
.matomo-visits-summary ul li .icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.matomo-visits-summary ul li .icon svg {
  width: 100%;
  height: 100%;
  fill: #b3b3b3;
}
.matomo-visits-summary ul li .number {
  margin-left: auto;
}
.matomo-visits-summary ul li:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.matomo-visits-summary ul li:hover {
  background: #fafafa;
}
.matomo-visits-summary ul li:hover .icon svg {
  fill: #808080;
}
@media (max-width: 75em) {
  .matomo-visits-summary ul .icon {
    display: none;
  }
}
@media (max-width: 65em) {
  .matomo-visits-summary ul .icon {
    display: block;
  }
}

.matomo-widgets {
  margin-top: 2.5rem;
}
.matomo-widgets h4 {
  margin-bottom: 5px;
}
.matomo-widgets .widgets {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.matomo-widgets .widget {
  width: calc(50% - 0.75rem);
  margin-top: 1.5rem;
  padding: 1.5rem;
  padding-bottom: 1.25rem;
  background: white;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-widgets .widget:nth-child(odd) {
  margin-right: 1.5rem;
}
.matomo-widgets .widget .loading {
  margin-top: 10px;
}
.matomo-widgets .widget .big-number {
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
}
.matomo-widgets .widget .details {
  position: relative;
  font-size: 0.875rem;
  color: #9a9a9a;
  margin-top: 20px;
  padding-top: 15px;
  line-height: 1.5;
}
.matomo-widgets .widget .details:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #b3b3b3;
  top: 0;
}
.matomo-widgets .widget ul {
  margin-top: calc(20px - 0.5rem);
}
.matomo-widgets .widget ul li {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 10px 0.5rem 5px;
}
.matomo-widgets .widget ul li .icon {
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin-right: 10px;
}
.matomo-widgets .widget ul li .icon svg {
  width: 100%;
  height: 100%;
  fill: #b3b3b3;
}
.matomo-widgets .widget ul li .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}
.matomo-widgets .widget ul li .number {
  margin-left: auto;
  min-width: 85px;
  text-align: right;
}
.matomo-widgets .widget ul li .number .percent {
  display: inline-block;
  width: 45px;
  color: #b3b3b3;
}
.matomo-widgets .widget ul li:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.matomo-widgets .widget ul li:hover {
  background: #fafafa;
}
.matomo-widgets .widget ul li:hover .icon svg {
  fill: #808080;
}
.matomo-widgets .widget .empty {
  color: #b3b3b3;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0 1rem 0;
  background: #fafafa;
}
@media (max-width: 45em) {
  .matomo-widgets .widget {
    width: 100%;
  }
  .matomo-widgets .widget:nth-child(odd) {
    margin-right: 0;
  }
}

.matomo-period-selector {
  text-transform: uppercase;
  font-size: 0.75rem;
  display: flex;
}
.matomo-period-selector .matomo-period-option {
  padding-bottom: 2px;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}
.matomo-period-selector .matomo-period-option:not(:last-child) {
  margin-right: 12px;
}
.matomo-period-selector .matomo-period-option.active, .matomo-period-selector .matomo-period-option:hover {
  opacity: 1;
}
.matomo-period-selector .matomo-period-option.active {
  border-bottom: 1px solid black;
}
@media (max-width: 30em) {
  .matomo-period-selector {
    flex-wrap: wrap;
    margin-bottom: -10px;
  }
  .matomo-period-selector .matomo-period-option {
    margin-bottom: 10px;
  }
}

.matomo-dashboard-link {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 1px;
  margin-bottom: 2px;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-dashboard-link .icon {
  width: 38px;
  height: 38px;
  background: #d52a20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.matomo-dashboard-link .icon svg {
  fill: white;
  width: 21px;
  height: 21px;
}
.matomo-dashboard-link .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: baseline;
  width: calc(100% - 38px);
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
}
.matomo-dashboard-link .text em {
  font-style: normal;
  margin-right: 1rem;
  flex-grow: 1;
  font-size: 0.875rem;
  color: #16171a;
}

.matomo-block {
  position: relative;
  padding: 1rem;
  padding-bottom: 0.75em;
  padding-top: 1.25em;
  background: white;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-block:not(:first-child) {
  margin-top: 1.5rem;
}
.matomo-block .loader {
  font-size: 16px;
  margin-top: 10px;
}

.matomo-page {
  padding: 1.5rem;
  padding-bottom: 1.25rem;
  background: white;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
  margin-bottom: 3rem;
}
.matomo-page .code {
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 3px;
  margin-left: 5px;
  background: #f2f2f2;
  color: #919191;
}
.matomo-page .loader, .matomo-page table {
  margin-top: calc(20px - 0.5rem);
}
.matomo-page table {
  display: block;
  width: 100%;
}
.matomo-page table tr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 10px 0.5rem 5px;
}
.matomo-page table tr th {
  text-align: right;
  display: block;
  font-weight: 400;
}
.matomo-page table tr th:nth-child(3) span {
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 3px;
  margin-right: -4px;
  border: 1px solid #ebebeb;
  color: #919191;
}
.matomo-page table tr td {
  display: block;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.matomo-page table tr td .icon {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.matomo-page table tr td .icon svg {
  width: 100%;
  height: 100%;
  fill: #b3b3b3;
}
.matomo-page table tr td:first-child {
  display: flex;
}
.matomo-page table tr td:nth-child(3) {
  color: #b3b3b3;
}
.matomo-page table tr th:first-child, .matomo-page table tr td:first-child {
  min-width: 100px;
  margin-right: auto;
}
.matomo-page table tr th:nth-child(2), .matomo-page table tr th:nth-child(3), .matomo-page table tr td:nth-child(2), .matomo-page table tr td:nth-child(3) {
  text-align: right;
  width: 50px;
}
.matomo-page table tr th:nth-child(2) + td, .matomo-page table tr th:nth-child(2) + th, .matomo-page table tr td:nth-child(2) + td, .matomo-page table tr td:nth-child(2) + th {
  margin-left: 10px;
}
.matomo-page table tr .number {
  margin-left: auto;
}
.matomo-page table tr:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.matomo-page table tr:hover {
  background: #fafafa;
}
.matomo-page table tr:hover .icon svg {
  fill: #808080;
}
.matomo-page table tr:hover td:nth-child(3) {
  color: #808080;
}
@media (max-width: 75em) {
  .matomo-page table tr td .icon {
    display: none;
  }
}
@media (max-width: 65em) {
  .matomo-page table tr td .icon {
    display: block;
  }
}@charset "UTF-8";
/* Colors
---------------------*/
/* Patterns
---------------------*/
/* Media queries
----------------------*/
.svg-icon {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.matomo-main h5, .matomo-sidebar h5, .matomo-page h5 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.15px;
  color: #9a9a9a;
  font-weight: 400;
}
.matomo-main .empty, .matomo-sidebar .empty, .matomo-page .empty {
  color: #b3b3b3;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0 1rem 0;
  background: #fafafa;
}

.matomo-main .loader, .matomo-page .loader, .matomo-sidebar .loader {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
}
.matomo-main .loader::after, .matomo-page .loader::after, .matomo-sidebar .loader::after {
  content: "⠋\a⠙\a⠹\a⠸\a⠼\a⠴\a⠦\a⠧\a⠇\a⠏";
  display: inline-table;
  white-space: pre;
  text-align: left;
  animation: spin10 0.8s steps(10) infinite;
}
@keyframes spin10 {
  to {
    transform: translateY(-15em);
  }
}

.matomo-chart {
  position: relative;
  width: 100%;
  margin-top: 2.5rem;
}
.matomo-chart .overlay, .matomo-chart .empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(239, 239, 239, 0.85);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out;
}
.matomo-chart .overlay .loader, .matomo-chart .empty .loader {
  font-size: 30px;
}
.matomo-chart .empty {
  margin-top: 0;
}
.matomo-chart .empty span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #eaeaea;
  color: #999999;
}
.matomo-chart .chart {
  height: 52.5vh;
}
.matomo-chart.is-empty {
  margin-top: 1.5rem;
}
.matomo-chart.is-empty .chart {
  height: 25vh;
}

.matomo-overview {
  margin-top: 2.5rem;
}
.matomo-overview h4 {
  margin-bottom: 5px;
}
.matomo-overview-ctn {
  margin-top: 1.5rem;
  padding: 1.5rem;
  padding-right: 1rem;
  background: white;
  min-height: 150px;
  display: flex;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-overview-block {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.matomo-overview-block:not(:last-child) {
  border-right: 1px solid #ebebeb;
  padding-right: 1rem;
  margin-right: 1.5rem;
}
.matomo-overview-block .big-number {
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
}
.matomo-overview-block .details {
  position: relative;
  font-size: 0.75rem;
  color: #9a9a9a;
  margin-top: 20px;
  padding-top: 15px;
  line-height: 1.5;
}
.matomo-overview-block .details:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #b3b3b3;
  top: 0;
}
.matomo-overview-block .difference {
  margin-top: 20px;
  padding: 4px 8px 5px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 0.75rem;
}
.matomo-overview-block .difference .icon {
  width: 10px;
  height: 10px;
  margin-left: 6px;
}
.matomo-overview-block .difference .icon svg {
  display: block;
  width: 100%;
  height: 100%;
}
.matomo-overview-block .difference.positive {
  background: #f1faed;
  color: #7aba4c;
}
.matomo-overview-block .difference.positive .icon svg {
  fill: #7aba4c;
}
.matomo-overview-block .difference.negative {
  background: #feeaee;
  color: #f93048;
}
.matomo-overview-block .difference.negative .icon {
  transform: rotate(90deg);
}
.matomo-overview-block .difference.negative .icon svg {
  fill: #f93048;
}
.matomo-overview-block .difference.grey {
  background: #f7f7f7;
  color: #9a9a9a;
}
.matomo-overview .empty {
  margin-top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 68.75em) {
  .matomo-overview-block .big-number {
    font-size: 25px;
  }
}
@media (max-width: 45em) {
  .matomo-overview-ctn {
    flex-wrap: wrap;
  }
  .matomo-overview-block {
    width: calc(50% - 0.75rem);
  }
  .matomo-overview-block:not(:last-child) {
    margin-right: 0;
    border-right: none;
  }
  .matomo-overview-block:nth-child(odd) {
    border-right: 1px solid #ebebeb;
  }
  .matomo-overview-block:nth-child(even) {
    padding-left: 1.5rem;
  }
  .matomo-overview-block:first-child, .matomo-overview-block:nth-child(2) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ebebeb;
  }
  .matomo-overview-block:nth-child(3), .matomo-overview-block:nth-child(4) {
    padding-top: 1.5rem;
  }
}
@media (max-width: 30em) {
  .matomo-overview-block {
    width: 100%;
  }
  .matomo-overview-block:nth-child(odd) {
    border-right: none;
  }
  .matomo-overview-block:nth-child(even) {
    padding-left: 0;
  }
  .matomo-overview-block:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ebebeb;
  }
  .matomo-overview-block:not(:first-child) {
    padding-top: 1.5rem;
  }
}

.matomo-realtime .refresh {
  position: absolute;
  right: 0.9rem;
  top: 1rem;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background: #f2f2f2;
  letter-spacing: 0.15px;
  color: #8d8d8d;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.matomo-realtime .refresh:hover {
  color: black;
}
.matomo-realtime .big-number {
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
}
.matomo-realtime .details {
  position: relative;
  font-size: 0.75rem;
  color: #9a9a9a;
  margin-top: 20px;
  padding-top: 15px;
  line-height: 1.5;
}
.matomo-realtime .details:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #b3b3b3;
  top: 0;
}

.matomo-visits-summary ul {
  margin-top: calc(20px - 0.5rem);
}
.matomo-visits-summary ul li {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 10px 0.5rem 5px;
}
.matomo-visits-summary ul li .icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.matomo-visits-summary ul li .icon svg {
  width: 100%;
  height: 100%;
  fill: #b3b3b3;
}
.matomo-visits-summary ul li .number {
  margin-left: auto;
}
.matomo-visits-summary ul li:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.matomo-visits-summary ul li:hover {
  background: #fafafa;
}
.matomo-visits-summary ul li:hover .icon svg {
  fill: #808080;
}
@media (max-width: 75em) {
  .matomo-visits-summary ul .icon {
    display: none;
  }
}
@media (max-width: 65em) {
  .matomo-visits-summary ul .icon {
    display: block;
  }
}

.matomo-widgets {
  margin-top: 2.5rem;
}
.matomo-widgets h4 {
  margin-bottom: 5px;
}
.matomo-widgets .widgets {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.matomo-widgets .widget {
  width: calc(50% - 0.75rem);
  margin-top: 1.5rem;
  padding: 1.5rem;
  padding-bottom: 1.25rem;
  background: white;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-widgets .widget:nth-child(odd) {
  margin-right: 1.5rem;
}
.matomo-widgets .widget .loading {
  margin-top: 10px;
}
.matomo-widgets .widget .big-number {
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
}
.matomo-widgets .widget .details {
  position: relative;
  font-size: 0.875rem;
  color: #9a9a9a;
  margin-top: 20px;
  padding-top: 15px;
  line-height: 1.5;
}
.matomo-widgets .widget .details:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #b3b3b3;
  top: 0;
}
.matomo-widgets .widget ul {
  margin-top: calc(20px - 0.5rem);
}
.matomo-widgets .widget ul li {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 10px 0.5rem 5px;
}
.matomo-widgets .widget ul li .icon {
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin-right: 10px;
}
.matomo-widgets .widget ul li .icon svg {
  width: 100%;
  height: 100%;
  fill: #b3b3b3;
}
.matomo-widgets .widget ul li .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}
.matomo-widgets .widget ul li .number {
  margin-left: auto;
  min-width: 85px;
  text-align: right;
}
.matomo-widgets .widget ul li .number .percent {
  display: inline-block;
  width: 45px;
  color: #b3b3b3;
}
.matomo-widgets .widget ul li:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.matomo-widgets .widget ul li:hover {
  background: #fafafa;
}
.matomo-widgets .widget ul li:hover .icon svg {
  fill: #808080;
}
.matomo-widgets .widget .empty {
  color: #b3b3b3;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0 1rem 0;
  background: #fafafa;
}
@media (max-width: 45em) {
  .matomo-widgets .widget {
    width: 100%;
  }
  .matomo-widgets .widget:nth-child(odd) {
    margin-right: 0;
  }
}

.matomo-period-selector {
  text-transform: uppercase;
  font-size: 0.75rem;
  display: flex;
}
.matomo-period-selector .matomo-period-option {
  padding-bottom: 2px;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}
.matomo-period-selector .matomo-period-option:not(:last-child) {
  margin-right: 12px;
}
.matomo-period-selector .matomo-period-option.active, .matomo-period-selector .matomo-period-option:hover {
  opacity: 1;
}
.matomo-period-selector .matomo-period-option.active {
  border-bottom: 1px solid black;
}
@media (max-width: 30em) {
  .matomo-period-selector {
    flex-wrap: wrap;
    margin-bottom: -10px;
  }
  .matomo-period-selector .matomo-period-option {
    margin-bottom: 10px;
  }
}

.matomo-dashboard-link {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 1px;
  margin-bottom: 2px;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-dashboard-link .icon {
  width: 38px;
  height: 38px;
  background: #d52a20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.matomo-dashboard-link .icon svg {
  fill: white;
  width: 21px;
  height: 21px;
}
.matomo-dashboard-link .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: baseline;
  width: calc(100% - 38px);
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
}
.matomo-dashboard-link .text em {
  font-style: normal;
  margin-right: 1rem;
  flex-grow: 1;
  font-size: 0.875rem;
  color: #16171a;
}

.matomo-block {
  position: relative;
  padding: 1rem;
  padding-bottom: 0.75em;
  padding-top: 1.25em;
  background: white;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-block:not(:first-child) {
  margin-top: 1.5rem;
}
.matomo-block .loader {
  font-size: 16px;
  margin-top: 10px;
}

.matomo-page {
  padding: 1.5rem;
  padding-bottom: 1.25rem;
  background: white;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
  margin-bottom: 3rem;
}
.matomo-page .code {
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 3px;
  margin-left: 5px;
  background: #f2f2f2;
  color: #919191;
}
.matomo-page .loader, .matomo-page table {
  margin-top: calc(20px - 0.5rem);
}
.matomo-page table {
  display: block;
  width: 100%;
}
.matomo-page table tr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 10px 0.5rem 5px;
}
.matomo-page table tr th {
  text-align: right;
  display: block;
  font-weight: 400;
}
.matomo-page table tr th:nth-child(3) span {
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 3px;
  margin-right: -4px;
  border: 1px solid #ebebeb;
  color: #919191;
}
.matomo-page table tr td {
  display: block;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.matomo-page table tr td .icon {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.matomo-page table tr td .icon svg {
  width: 100%;
  height: 100%;
  fill: #b3b3b3;
}
.matomo-page table tr td:first-child {
  display: flex;
}
.matomo-page table tr td:nth-child(3) {
  color: #b3b3b3;
}
.matomo-page table tr th:first-child, .matomo-page table tr td:first-child {
  min-width: 100px;
  margin-right: auto;
}
.matomo-page table tr th:nth-child(2), .matomo-page table tr th:nth-child(3), .matomo-page table tr td:nth-child(2), .matomo-page table tr td:nth-child(3) {
  text-align: right;
  width: 50px;
}
.matomo-page table tr th:nth-child(2) + td, .matomo-page table tr th:nth-child(2) + th, .matomo-page table tr td:nth-child(2) + td, .matomo-page table tr td:nth-child(2) + th {
  margin-left: 10px;
}
.matomo-page table tr .number {
  margin-left: auto;
}
.matomo-page table tr:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.matomo-page table tr:hover {
  background: #fafafa;
}
.matomo-page table tr:hover .icon svg {
  fill: #808080;
}
.matomo-page table tr:hover td:nth-child(3) {
  color: #808080;
}
@media (max-width: 75em) {
  .matomo-page table tr td .icon {
    display: none;
  }
}
@media (max-width: 65em) {
  .matomo-page table tr td .icon {
    display: block;
  }
}@charset "UTF-8";
/* Colors
---------------------*/
/* Patterns
---------------------*/
/* Media queries
----------------------*/
.svg-icon {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.matomo-main h5, .matomo-sidebar h5, .matomo-page h5 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.15px;
  color: #9a9a9a;
  font-weight: 400;
}
.matomo-main .empty, .matomo-sidebar .empty, .matomo-page .empty {
  color: #b3b3b3;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0 1rem 0;
  background: #fafafa;
}

.matomo-main .loader, .matomo-page .loader, .matomo-sidebar .loader {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
}
.matomo-main .loader::after, .matomo-page .loader::after, .matomo-sidebar .loader::after {
  content: "⠋\a⠙\a⠹\a⠸\a⠼\a⠴\a⠦\a⠧\a⠇\a⠏";
  display: inline-table;
  white-space: pre;
  text-align: left;
  animation: spin10 0.8s steps(10) infinite;
}
@keyframes spin10 {
  to {
    transform: translateY(-15em);
  }
}

.matomo-chart {
  position: relative;
  width: 100%;
  margin-top: 2.5rem;
}
.matomo-chart .overlay, .matomo-chart .empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(239, 239, 239, 0.85);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out;
}
.matomo-chart .overlay .loader, .matomo-chart .empty .loader {
  font-size: 30px;
}
.matomo-chart .empty {
  margin-top: 0;
}
.matomo-chart .empty span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #eaeaea;
  color: #999999;
}
.matomo-chart .chart {
  height: 52.5vh;
}
.matomo-chart.is-empty {
  margin-top: 1.5rem;
}
.matomo-chart.is-empty .chart {
  height: 25vh;
}

.matomo-overview {
  margin-top: 2.5rem;
}
.matomo-overview h4 {
  margin-bottom: 5px;
}
.matomo-overview-ctn {
  margin-top: 1.5rem;
  padding: 1.5rem;
  padding-right: 1rem;
  background: white;
  min-height: 150px;
  display: flex;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-overview-block {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.matomo-overview-block:not(:last-child) {
  border-right: 1px solid #ebebeb;
  padding-right: 1rem;
  margin-right: 1.5rem;
}
.matomo-overview-block .big-number {
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
}
.matomo-overview-block .details {
  position: relative;
  font-size: 0.75rem;
  color: #9a9a9a;
  margin-top: 20px;
  padding-top: 15px;
  line-height: 1.5;
}
.matomo-overview-block .details:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #b3b3b3;
  top: 0;
}
.matomo-overview-block .difference {
  margin-top: 20px;
  padding: 4px 8px 5px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 0.75rem;
}
.matomo-overview-block .difference .icon {
  width: 10px;
  height: 10px;
  margin-left: 6px;
}
.matomo-overview-block .difference .icon svg {
  display: block;
  width: 100%;
  height: 100%;
}
.matomo-overview-block .difference.positive {
  background: #f1faed;
  color: #7aba4c;
}
.matomo-overview-block .difference.positive .icon svg {
  fill: #7aba4c;
}
.matomo-overview-block .difference.negative {
  background: #feeaee;
  color: #f93048;
}
.matomo-overview-block .difference.negative .icon {
  transform: rotate(90deg);
}
.matomo-overview-block .difference.negative .icon svg {
  fill: #f93048;
}
.matomo-overview-block .difference.grey {
  background: #f7f7f7;
  color: #9a9a9a;
}
.matomo-overview .empty {
  margin-top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 68.75em) {
  .matomo-overview-block .big-number {
    font-size: 25px;
  }
}
@media (max-width: 45em) {
  .matomo-overview-ctn {
    flex-wrap: wrap;
  }
  .matomo-overview-block {
    width: calc(50% - 0.75rem);
  }
  .matomo-overview-block:not(:last-child) {
    margin-right: 0;
    border-right: none;
  }
  .matomo-overview-block:nth-child(odd) {
    border-right: 1px solid #ebebeb;
  }
  .matomo-overview-block:nth-child(even) {
    padding-left: 1.5rem;
  }
  .matomo-overview-block:first-child, .matomo-overview-block:nth-child(2) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ebebeb;
  }
  .matomo-overview-block:nth-child(3), .matomo-overview-block:nth-child(4) {
    padding-top: 1.5rem;
  }
}
@media (max-width: 30em) {
  .matomo-overview-block {
    width: 100%;
  }
  .matomo-overview-block:nth-child(odd) {
    border-right: none;
  }
  .matomo-overview-block:nth-child(even) {
    padding-left: 0;
  }
  .matomo-overview-block:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ebebeb;
  }
  .matomo-overview-block:not(:first-child) {
    padding-top: 1.5rem;
  }
}

.matomo-realtime .refresh {
  position: absolute;
  right: 0.9rem;
  top: 1rem;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background: #f2f2f2;
  letter-spacing: 0.15px;
  color: #8d8d8d;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.matomo-realtime .refresh:hover {
  color: black;
}
.matomo-realtime .big-number {
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
}
.matomo-realtime .details {
  position: relative;
  font-size: 0.75rem;
  color: #9a9a9a;
  margin-top: 20px;
  padding-top: 15px;
  line-height: 1.5;
}
.matomo-realtime .details:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #b3b3b3;
  top: 0;
}

.matomo-visits-summary ul {
  margin-top: calc(20px - 0.5rem);
}
.matomo-visits-summary ul li {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 10px 0.5rem 5px;
}
.matomo-visits-summary ul li .icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.matomo-visits-summary ul li .icon svg {
  width: 100%;
  height: 100%;
  fill: #b3b3b3;
}
.matomo-visits-summary ul li .number {
  margin-left: auto;
}
.matomo-visits-summary ul li:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.matomo-visits-summary ul li:hover {
  background: #fafafa;
}
.matomo-visits-summary ul li:hover .icon svg {
  fill: #808080;
}
@media (max-width: 75em) {
  .matomo-visits-summary ul .icon {
    display: none;
  }
}
@media (max-width: 65em) {
  .matomo-visits-summary ul .icon {
    display: block;
  }
}

.matomo-widgets {
  margin-top: 2.5rem;
}
.matomo-widgets h4 {
  margin-bottom: 5px;
}
.matomo-widgets .widgets {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.matomo-widgets .widget {
  width: calc(50% - 0.75rem);
  margin-top: 1.5rem;
  padding: 1.5rem;
  padding-bottom: 1.25rem;
  background: white;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-widgets .widget:nth-child(odd) {
  margin-right: 1.5rem;
}
.matomo-widgets .widget .loading {
  margin-top: 10px;
}
.matomo-widgets .widget .big-number {
  font-weight: 800;
  font-size: 30px;
  margin-top: 5px;
}
.matomo-widgets .widget .details {
  position: relative;
  font-size: 0.875rem;
  color: #9a9a9a;
  margin-top: 20px;
  padding-top: 15px;
  line-height: 1.5;
}
.matomo-widgets .widget .details:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #b3b3b3;
  top: 0;
}
.matomo-widgets .widget ul {
  margin-top: calc(20px - 0.5rem);
}
.matomo-widgets .widget ul li {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 10px 0.5rem 5px;
}
.matomo-widgets .widget ul li .icon {
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin-right: 10px;
}
.matomo-widgets .widget ul li .icon svg {
  width: 100%;
  height: 100%;
  fill: #b3b3b3;
}
.matomo-widgets .widget ul li .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}
.matomo-widgets .widget ul li .number {
  margin-left: auto;
  min-width: 85px;
  text-align: right;
}
.matomo-widgets .widget ul li .number .percent {
  display: inline-block;
  width: 45px;
  color: #b3b3b3;
}
.matomo-widgets .widget ul li:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.matomo-widgets .widget ul li:hover {
  background: #fafafa;
}
.matomo-widgets .widget ul li:hover .icon svg {
  fill: #808080;
}
.matomo-widgets .widget .empty {
  color: #b3b3b3;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0 1rem 0;
  background: #fafafa;
}
@media (max-width: 45em) {
  .matomo-widgets .widget {
    width: 100%;
  }
  .matomo-widgets .widget:nth-child(odd) {
    margin-right: 0;
  }
}

.matomo-period-selector {
  text-transform: uppercase;
  font-size: 0.75rem;
  display: flex;
}
.matomo-period-selector .matomo-period-option {
  padding-bottom: 2px;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}
.matomo-period-selector .matomo-period-option:not(:last-child) {
  margin-right: 12px;
}
.matomo-period-selector .matomo-period-option.active, .matomo-period-selector .matomo-period-option:hover {
  opacity: 1;
}
.matomo-period-selector .matomo-period-option.active {
  border-bottom: 1px solid black;
}
@media (max-width: 30em) {
  .matomo-period-selector {
    flex-wrap: wrap;
    margin-bottom: -10px;
  }
  .matomo-period-selector .matomo-period-option {
    margin-bottom: 10px;
  }
}

.matomo-dashboard-link {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 1px;
  margin-bottom: 2px;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-dashboard-link .icon {
  width: 38px;
  height: 38px;
  background: #d52a20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.matomo-dashboard-link .icon svg {
  fill: white;
  width: 21px;
  height: 21px;
}
.matomo-dashboard-link .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: baseline;
  width: calc(100% - 38px);
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
}
.matomo-dashboard-link .text em {
  font-style: normal;
  margin-right: 1rem;
  flex-grow: 1;
  font-size: 0.875rem;
  color: #16171a;
}

.matomo-block {
  position: relative;
  padding: 1rem;
  padding-bottom: 0.75em;
  padding-top: 1.25em;
  background: white;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
}
.matomo-block:not(:first-child) {
  margin-top: 1.5rem;
}
.matomo-block .loader {
  font-size: 16px;
  margin-top: 10px;
}

.matomo-page {
  padding: 1.5rem;
  padding-bottom: 1.25rem;
  background: white;
  box-shadow: 0 2px 5px rgba(22, 23, 26, 0.05);
  margin-bottom: 3rem;
}
.matomo-page .code {
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 3px;
  margin-left: 5px;
  background: #f2f2f2;
  color: #919191;
}
.matomo-page .loader, .matomo-page table {
  margin-top: calc(20px - 0.5rem);
}
.matomo-page table {
  display: block;
  width: 100%;
}
.matomo-page table tr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.5rem 10px 0.5rem 5px;
}
.matomo-page table tr th {
  text-align: right;
  display: block;
  font-weight: 400;
}
.matomo-page table tr th:nth-child(3) span {
  text-transform: uppercase;
  padding: 2px 4px;
  border-radius: 3px;
  margin-right: -4px;
  border: 1px solid #ebebeb;
  color: #919191;
}
.matomo-page table tr td {
  display: block;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.matomo-page table tr td .icon {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.matomo-page table tr td .icon svg {
  width: 100%;
  height: 100%;
  fill: #b3b3b3;
}
.matomo-page table tr td:first-child {
  display: flex;
}
.matomo-page table tr td:nth-child(3) {
  color: #b3b3b3;
}
.matomo-page table tr th:first-child, .matomo-page table tr td:first-child {
  min-width: 100px;
  margin-right: auto;
}
.matomo-page table tr th:nth-child(2), .matomo-page table tr th:nth-child(3), .matomo-page table tr td:nth-child(2), .matomo-page table tr td:nth-child(3) {
  text-align: right;
  width: 50px;
}
.matomo-page table tr th:nth-child(2) + td, .matomo-page table tr th:nth-child(2) + th, .matomo-page table tr td:nth-child(2) + td, .matomo-page table tr td:nth-child(2) + th {
  margin-left: 10px;
}
.matomo-page table tr .number {
  margin-left: auto;
}
.matomo-page table tr:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}
.matomo-page table tr:hover {
  background: #fafafa;
}
.matomo-page table tr:hover .icon svg {
  fill: #808080;
}
.matomo-page table tr:hover td:nth-child(3) {
  color: #808080;
}
@media (max-width: 75em) {
  .matomo-page table tr td .icon {
    display: none;
  }
}
@media (max-width: 65em) {
  .matomo-page table tr td .icon {
    display: block;
  }
}